header {
    display: block
}
body {
    background-color: #eac926;
    font-family: Helvetica;
   
}
h1 {
    color: blue;
    font-size: 24px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.burguer-menu {
    color: #03264C;
    size: 42px;
}
footer {
    text-align: center
}