/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    box-sizing: border-box;
   
}
header{
    background-color: #eac926;
    width: 100%;
   
}

.logo {
    width: 170px;
    height: 100px;
    padding: 15px;
   
}
.promo {
color: rgb(4, 4, 88);
font-size: 20px;
font-family: "Roboto", sans-serif;
text-align: center;
font-weight: bold;
margin: 0;
padding: 0;

}
.barraDeBusqueda {
    display: block;
    width: 50%;
    position: absolute;
    top: 45px;
    right: 10px;
  
}

.fa-search {
    position: absolute;
    right: 5px;
    top: 4px;
}
.search {
    border-radius: 4px;
    border: solid 1px white;
}
.body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: 0px;
    font-size: 12px;
   
}

.navbar-rigth, .navbar-left {
  display: none;
  margin: 10px;
}
.titulo-visita{
   
    font-size: 26px;
   color: black;
   background-color: #ebebeb;
   text-align: center;
   
}

.main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #ebebeb;
}

.burger-menu{
    background-color: #03264C;
    color: white;
    max-width: 50px;
    text-align: center;
    padding: 10px;
    margin: auto;
    display: block;
    border-radius: 5px;
    
}
.ultima-visita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#ebebeb;
    

}

.cards-productos{
    margin-top: 10px;
    background-color: white;
    border-bottom: solid 1px #ebebeb;
    width: 80%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    text-align: center;
    
}

.texto-cards-productos{
    border-top: 1px solid #ebebeb;
    margin: 15px;
    text-align: center;
    font-family: "Roboto", sans-serif;
   
}
.titulo-ofertas {
    font-size: 26px;
    color: black;
    background-color: #ebebeb;
    text-align: center;
    
}
.ofertas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ebebeb;
}


.fa-truck {
    color: #39b54a;
    border-radius: 50%;
    border: solid 1px #39b54a;
    background-color: white;
    padding: 3%;
    position: absolute;
    right: 47px;
   
}


.fa-credit-card {
    color:darkblue;
}
.fa-credit-card:hover {
    color:rgb(231, 243, 62);
}
.fa-gift {
    color: darkblue;
}
.fa-gift:hover {
    color:rgb(231, 243, 62);
}
.fa-user-shield {
    color: darkblue;
}
.fa-user-shield:hover {
    color:rgb(231, 243, 62);
}
.article{
margin: 10px 0;
}


.descripcion{
    font-size: 16px;
  color: white;
    transition: 0.45s;
}
.descripcion:hover {
    color: black;
    
}
.descuento{
font-size: 16px;
color: #39b54a;
}
.precio{
    font-size: 18px;
}
/* Registro y login */
.registro-form {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-family: "Roboto", sans-serif;

}
.registro-form div {
    margin: 20px 0;
    
}
.registro-form div input {
    width: 100%;
    display: block;
    border: solid 1px #ebebeb;
    border-radius: 4px;
    height: 30px;
  }
  h1 {
      font-size: 18px;
      font-family: "Roboto", sans-serif;
  }

  .form-boton {
      background-color: #03264C;
      color: white;
      
      border-radius: 4px;
  }
  .botones {
      width: 100;
      display: flex;
    
      
     
  }
  .login-form {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-family: "Roboto", sans-serif;
   
}
.login-form div {
    margin: 20px 0;
    padding: 10px;
    
}
.login-form div input {
    width: 100%;
    display: block;
    border: solid 1px #ebebeb;
    border-radius: 4px;
    height: 30px;
  }
  .boton-login {
    background-color: #03264C;
    color: white;   
    border-radius: 4px;
    
}
.boton-login:hover {
    background-color: #0022AA;
}
.boton-login1 {
    width: 100%;
    display: flex;
         
       
    }
footer{
    text-align: center;
    background-color: white;
}
@media (min-width: 769px){
    .fa-truck {
        position: relative;
        left: 250px;
        bottom: 25px;
        
    }
    .fa-search {
        position: relative;
        right: 20px;
    }
    .login-form div .boton-login {
        width: 50%;
        display: block;
        justify-content: center;
        position: relative;
        left: 150px;
     }
     .registro-form {
        width: 60%;
        display: block;
        justify-content: center;
       }
       .registro-form div  {
           width: 100%;
           display: block;
           justify-content: center;
           padding:10px;
         
       }
       .registro-form div input {
             display: block;
           justify-content: center;
           height: 30px;
       }
       .registro-form div .form-boton {
        width: 50%;
        display: block;
        position: relative;
        left: 110px;

      }
       
    }
@media (min-width: 1020px){
    .main {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        background-color: #ebebeb;
    }
    .barraDeBusqueda {
        display: block;
        width: 30%;
        
    }
.search {
 
        width: 200px;
        padding: 7px;
        border-radius:3px;
        background-color: white;
        border: white;
        position: absolute;
        right: 38px;
       
    }
    .fa-search {
       position:relative;
       left: 350px;
    }
.cabeceraPrincipal {
    display: flex;
    align-items:center;
    justify-content: space-around;
} 
.cabeceraPrincipal .navbar-left {
   display: flex;
    justify-content: space-around;  
    color: #03264C;
}
.navbar-left ul {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    position: absolute;
    left: 5px;
    
    
}
.navbar-left ul li {
    padding: 10px;
   
}
.cabeceraPrincipal .navbar-rigth {
    display: flex;
    justify-content: space-around;
    color: #03264C;
    position: relative;
    top: 35px;
}
.navbar-rigth a{
    padding-left: 10px;
}

.burger-menu{
    display: none;
}
.logo {
    width: 250px;
}
.descripcion{
    display: flex;
    justify-content: center;
}
.ultima-visita {
    flex-direction: row;
    justify-content: space-around;
}
.cards-productos {
    width: 20%
    
}
.ofertas {
    flex-direction: row;
    justify-content: space-around;
}
.fa-truck {
    color: #39b54a;
    border-radius: 50%;
    border: solid 1px #39b54a;
    background-color: white;
   
}
.cards-productos .texto-cards-productos .fa-truck {
    position: relative;
    left: 80px;
}

/* Formulario registro */
.registro-form {
 width: 60%;
 display: block;
 justify-content: center;
}
.registro-form div  {
    width: 100%;
    display: block;
    justify-content: center;
    padding:10px;
  
}
.registro-form div input {
      display: block;
    justify-content: center;
    height: 30px;
}
.registro-form div .form-boton{
    width: 50%;
    display: block;
    position: relative;
    left: 180px;
   
  }
   

   

/* Login */
.login-form {
    width: 60%;
    display: block;
    justify-content: center;
   }
   .login-form div  {
       width: 100%;
       display: block;
       justify-content: space-around;
       padding:10px;
     
   }
   .login-form div input {
         display: block;
       justify-content: center;
       height: 30px;
      
   }
  .boton-login {
       width: 50%;
   }
   .boton-login:hover {
    background-color: #0022AA;
}
   .botones-login1 {
    width: 50%;
    display: block;   
       
    }
    .login-form div .boton-login {
       width: 50%;
       display: block;
       justify-content: center;
       position: relative;
       left: 180px;
    }
.footer {
      display: block;
      justify-content: space-around;

    }
    .pie-de-pagina{
       display: block;
       justify-content: center;

    }

}
